# Capstone Project Part
# Combining Neighbourhood with Latitude and Longitude

In [63]:
import pandas as pd

In [64]:
# Reading Combined(concatinated) Neighbourhood Data in Part 1

In [65]:
cND_df = pd.read_csv('CS_combinedNeighbourhoodData.csv')
cND_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [66]:
!wget -q -O 'Geospatial_DATA.csv' 'http://cocl.us/Geospatial_data'

In [67]:
GeoData = pd.read_csv('Geospatial_DATA.csv')
GeoData.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [68]:
GeoData.rename(columns={'Postal Code':'Postcode'}, inplace=True)
GeoData.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [69]:
df_PC_with_LatLong = pd.merge(cND_df, GeoData, on='Postcode', how='inner')
df_PC_with_LatLong.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4      M6A        North York  Lawrence Heights  43.718518 -79.464763

In [70]:
#df_PC_with_LatLong = df_PC_with_LatLong[['Borough', 'Neighbourhood', 'Latitude', 'Longitude']]
df_PC_with_LatLong.drop('Postcode', axis=1, inplace=True)
df_PC_with_LatLong.head()

            Borough     Neighbourhood   Latitude  Longitude
0        North York         Parkwoods  43.753259 -79.329656
1        North York  Victoria Village  43.725882 -79.315572
2  Downtown Toronto      Harbourfront  43.654260 -79.360636
3  Downtown Toronto       Regent Park  43.654260 -79.360636
4        North York  Lawrence Heights  43.718518 -79.464763

# to csv

In [71]:
df_PC_with_LatLong.to_csv('CS_combinedNeighbourhoodLatLongData.csv', index=False)