# Toronto Neighbourhood Crime Data
## Extraction of Employment Data from Neighbourhood_Crime_Rates_Boundary_File_.csv http://data.torontopolice.on.ca/datasets/neighbourhood-crime-rates-boundary-file-/data

In [20]:
import pandas as pd
import numpy as np

In [21]:
#!conda update -n base -c defaults conda --yes

In [22]:
#!conda install -c anaconda xlrd --yes

In [23]:
NC_df = pd.read_csv('Neighbourhood_Crime_Rates_Boundary_File_.csv')
#NC_df.info()
NC_df.head()

,OBJECTID,Neighbourhood_Crime_Rates_Neigh,Neighbourhood_Crime_Rates_Hood_,Hood_ID,Neighbourhood,Assault_2014,Assault_2015,Assault_2016,Assault_2017,Assault_2018,...,Homicide_2015,Homicide_2016,Homicide_2017,Homicide_2018,Homicide_AVG,Homicide_CHG,Homicide_Rate_2018,Population,Shape__Area,Shape__Length
0,1,Yonge-St.Clair,97,97,Yonge-St.Clair,58,38,51,46,61,...,0,0,0,0,NaN,NaN,0.0,3189,1.161315e+06,5873.270507
1,2,York University Heights,27,27,York University Heights,78,101,111,120,138,...,0,2,0,1,1.3,NaN,2.7,36764,1.324666e+07,18504.777616
2,3,Lansing-Westgate,38,38,Lansing-Westgate,216,203,223,226,197,...,0,0,0,0,NaN,NaN,0.0,10242,5.346186e+06,11112.109419
3,4,Yorkdale-Glen Park,31,31,Yorkdale-Glen Park,121,141,136,124,127,...,1,1,1,2,1.2,100%,11.0,18233,6.038326e+06,10079.426837
4,5,Stonegate-Queensway,16,16,Stonegate-Queensway,109,140,124,112,128,...,0,0,0,0,1.0,NaN,0.0,22207,7.946202e+06,11853.189803

In [24]:
NC_df.columns
#NC_df.shape

Index(['OBJECTID', 'Neighbourhood_Crime_Rates_Neigh',
       'Neighbourhood_Crime_Rates_Hood_', 'Hood_ID', 'Neighbourhood',
       'Assault_2014', 'Assault_2015', 'Assault_2016', 'Assault_2017',
       'Assault_2018', 'Assault_AVG', 'Assault_CHG', 'Assault_Rate_2018',
       'Auto_Theft_2014', 'Auto_Theft_2015', 'Auto_Theft_2016',
       'Auto_Theft_2017', 'Auto_Theft_2018', 'AutoTheft_AVG', 'AutoTheft_CHG',
       'AutoTheft_Rate_2018', 'BreakandEnter_2014', 'BreakandEnter_2015',
       'BreakandEnter_2016', 'BreakandEnter_2017', 'BreakandEnter_2018',
       'BreakandEnter_AVG', 'BreakandEnter_CHG', 'BreakandEnter_Rate_2018',
       'Robbery_2014', 'Robbery_2015', 'Robbery_2016', 'Robbery_2017',
       'Robbery_2018', 'Robbery_AVG', 'Robbery_CHG', 'Robbery_Rate_2018',
       'Theft_Over_2014', 'Theft_Over_2015', 'Theft_Over_2016',
       'Theft_Over_2017', 'Theft_Over_2018', 'TheftOver_AVG', 'TheftOver_CHG',
       'TheftOver_Rate_2018', 'Homicide_2014', 'Homicide_2015',
       'Homicide_2016', 'Homicide_2017', 'Homicide_2018', 'Homicide_AVG',
       'Homicide_CHG', 'Homicide_Rate_2018', 'Population', 'Shape__Area',
       'Shape__Length'],
      dtype='object')

In [25]:
NC_df = NC_df.get(['Neighbourhood','Assault_AVG','AutoTheft_AVG','BreakandEnter_AVG','Robbery_AVG', 'TheftOver_AVG','Homicide_AVG'])
NC_df.head()

,Neighbourhood,Assault_AVG,AutoTheft_AVG,BreakandEnter_AVG,Robbery_AVG,TheftOver_AVG,Homicide_AVG
0,Yonge-St.Clair,50.8,39.4,25.6,18.2,4.4,NaN
1,York University Heights,109.6,15.8,49.8,23.8,3.8,1.3
2,Lansing-Westgate,213.0,25.4,63.6,53.4,5.4,NaN
3,Yorkdale-Glen Park,129.8,31.4,57.0,29.8,9.0,1.2
4,Stonegate-Queensway,122.6,22.8,39.4,33.4,5.2,1.0

In [26]:
# Replacing NaN to zero value to get the average crime data for each neighbourhood
NC_df.replace(np.nan, 0, inplace=True)
NC_df.head(3)

,Neighbourhood,Assault_AVG,AutoTheft_AVG,BreakandEnter_AVG,Robbery_AVG,TheftOver_AVG,Homicide_AVG
0,Yonge-St.Clair,50.8,39.4,25.6,18.2,4.4,0.0
1,York University Heights,109.6,15.8,49.8,23.8,3.8,1.3
2,Lansing-Westgate,213.0,25.4,63.6,53.4,5.4,0.0

In [27]:
NC_df['Avg Crime'] = round(NC_df.mean(axis=1), 2)
NC_df.head(3)

,Neighbourhood,Assault_AVG,AutoTheft_AVG,BreakandEnter_AVG,Robbery_AVG,TheftOver_AVG,Homicide_AVG,Avg Crime
0,Yonge-St.Clair,50.8,39.4,25.6,18.2,4.4,0.0,23.07
1,York University Heights,109.6,15.8,49.8,23.8,3.8,1.3,34.02
2,Lansing-Westgate,213.0,25.4,63.6,53.4,5.4,0.0,60.13

In [28]:
NC_df.shape

(140, 8)

In [29]:
# Keeping only 2 columns
NC_df.drop(NC_df.columns[[1,2,3,4,5,6]], axis=1 ,inplace=True)
NC_df.head(3)

             Neighbourhood  Avg Crime
0           Yonge-St.Clair      23.07
1  York University Heights      34.02
2         Lansing-Westgate      60.13

In [30]:
# Spliting the Neighbourhood names by '-' & '/' to remove old names or alternate names of neighbourhoods

lt=[]
k = NC_df['Neighbourhood'].str.split('-|/')

k[:][0]
for itr,v in enumerate(k):
    #print(itr)
    #print(v[0])
    lt.append(v[0].strip())
   
    #k.str.replace('West', '')

NC_df['Neighbourhood']=pd.DataFrame(lt, columns=['Neighbourhood'])
NC_df.head()

             Neighbourhood  Avg Crime
0                    Yonge      23.07
1  York University Heights      34.02
2                  Lansing      60.13
3                 Yorkdale      43.03
4                Stonegate      37.40

In [31]:
NC_df['Neighbourhood'] = NC_df['Neighbourhood'].str.replace('The', '')
NC_df['Neighbourhood'] = NC_df['Neighbourhood'].str.replace('North', '')
NC_df['Neighbourhood'] = NC_df['Neighbourhood'].str.replace('South', '')
NC_df['Neighbourhood'] = NC_df['Neighbourhood'].str.replace('East', '')
NC_df['Neighbourhood'] = NC_df['Neighbourhood'].str.replace('West', '')
NC_df['Neighbourhood'] = [tmp.strip() for tmp in NC_df['Neighbourhood']]

In [32]:
NC_df.head()

             Neighbourhood  Avg Crime
0                    Yonge      23.07
1  York University Heights      34.02
2                  Lansing      60.13
3                 Yorkdale      43.03
4                Stonegate      37.40

In [33]:
NC_df.shape

(140, 2)

In [34]:
NC_df.to_csv('CS_CrimeData.csv', index=False)